<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
							<ul>
									<li class="poster" style="
									padding: 8px 30px; 
									float: right;
									width: 100px;
									list-style:none;
									text-align: center;
									font-size: x-large;
									font-family: -webkit-pictograph;
									font-weight: bolder;
								"><a href="{{ site.author.poster }}" rel="me">了解我们</a></li>
									<li class="question" style="
									padding: 8px 30px; 
									float: right;
									width: 100px;
									list-style:none;
									text-align: center;
									font-size: x-large;
									font-family: -webkit-pictograph;
									font-weight: bolder;
								"><a href="{{ site.author.question }}">支持我们</a></li>
									<li style="
									padding: 8px 30px; 
									float: right;
									width: 100px;
									list-style:none;
									text-align: center;
									font-size: x-large;
									font-family: -webkit-pictograph;
									font-weight: bolder;
								"><a href="#page">回到顶部</a></li>
								</ul>
						<a href="#page">回到顶部</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
